body {
	margin: 0; padding: 0;background:pink url(fon.jpg);
}
header {
	width:100%; background-color:pink; display: flex; 
}
#logo {
	float:center; margin:15px auto; width:200px; height:200px; margin-right:100px;border-radius: 110px;
}
#kontacts{
	background-color:pink;
}
#menu{
	background-color:peachpuff;
}
h2 {
	text-align: center;
}
#sok {
	background-color:lavenderblush;
}
table tr,th{
	background-color: lemonchiffon; text-align: center;
}
table td{
	border: 2px solid black;
}
table tr:nth-child(odd){
    background-color: aquamarine;
}
table tr:nth-child(even){
    background-color: violet;
}
table {
	border-radius: 30px;table-layout:fixed;
}
tr:last-child td:first-child {
	border-radius: 0 0 0 30px;
}
tr:first-child td:first-child {
	border-radius: 30px 0 0 30px;
}
tr:last-child td:last-child {
	border-radius: 0 0 30px 0;
}
footer{
    background-color: pink;
    border-top: 1px solid black ;
}
#vk {
	width:100px; height:100px;
}
#inst {
	width:105px; height:105px;
}
#whatsapp {
	width:105px; height:105px;
}
#foot{
	background-color:peachpuff;
}
#kalk{
	background-color: lemonchiffon;
	display: inline-block;
}
#product_select{
	width:232px
}

#1{
	 margin:15px auto; width:20px; height:20px; margin-right:10px;
}
* {
	box-sizing: border-box;
  }

.slider {
	  width: 50%;
	  margin: 100px auto;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
}